.fullPage {
  position: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: salmon;
}

.mainContainer {
  border: solid black;
  border-top: 0px;
  border-bottom: 0px;
  margin: auto;
  width: 70vw;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  
  
}
.jokeGenContainer{
  position: flex;
  justify-content: center;
  flex-direction: column;
}


.colorChange{
  position: fixed;
  top: 5px;
  left: 3px;
}
.jokeCard{
  
  position: flex;
  justify-content: center;
  width: 60vw;
  min-height: 15vh;
  margin: auto;
  margin-bottom: 1vh;
  border-radius: 3px;
  
  background-color: lightblue;

  border-right: 2px black solid;
  border-bottom: 2px black solid;
  box-shadow: 2px 3px grey;
}
.favorite{
  float: right;
  
  
  


}
.button{
  float: right;
  background-color: lightblue;
  border: none;
}
.button:hover{
  background-color: salmon;
  border-radius: 3px;
}
